<h1><%= "Chatroom #{@chatroom.id} - #{@chatroom.topic}" %></h1>

<h3>Messages:</h3>
<%# @messages.each do |message| %>
<% @chatroom.messages.each do |message| %>
<div class="message"><%= message %></div>
<% end %>

<hr>
